/* Font plus jakarta added */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
/* Common css starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.heading_black{
    color: #1E293B;
}
.paragraph_light{
    color: #475569;
}

.primary_color{
    color: #4F46E5;
}


/* Common css ends */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 80px;
    margin: 0 auto;
}

.navbar div ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
.navbar div ul li a{
    text-align: center;
    color: #475569;
    font-weight: 700;
    font-size: 16px;
}


.logo{
    padding-top: 16px;
    cursor: pointer;
}

.login_container{
    display: flex;
    gap: 8px;
    align-items: center;
}

.Sign_btn{
    padding: 12px 20px;
    border: 1px solid #CBD5E1;
    border-radius: 1234px;
    font-weight: 700;
    font-size: 16px;
    color: #475569;
}
.log_btn{
    background-color: #4F46E5;
    padding: 12px 20px;
    border: 1px solid #CBD5E1;
    border-radius: 1234px;
    font-weight: 700;
    font-size: 16px;
    color: white;  
}

/* Navbar Ends */

.Hero_first_container{
    width: 100%;
    height: 1230px;
    background-image: url(../Assets/abstract-pui-73-background-wallpaper-gradient\ 1.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    margin-bottom: 20px;
}

.Hero_2nd_container{
    padding: 96px 112px;
}

.text_div{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    height: 274px;
}

.bg-small{
    background-color: #EEF2FF;
    padding: 6px 12px;
    color: #4F46E5;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.hero_heading{
    font-weight: 800;
    font-size: 60px;
    font: bolder;
    color: #1E293B;
    text-wrap: wrap;
    margin-bottom: 24px;
}

.hero_paragraph{
    font-weight: 400;
    font-size: 18px;
    color: #1E293B;
}

.hero_btn{
    margin-top: 48px;
    gap: 8px;
}

.hero_banner{
    text-align: center;
    margin-top: 75px;
    height: 600px;
}
/* Hero section ends */

.Social_container1{
    width: 1440px;
    height: 352px;
    margin: 0 auto;
    padding: 112px 64px;
}
.Social_container2{
    width: 1216px;
    height: 224px;
    margin: 0 auto;
    background-color: #F8FAFC;
}

.social_logo1{
    width: 1184px;
    height: 96px;
    margin: 0 auto;
    gap: 64px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.social_logo2{
    width: 976px;
    height: 96px;
    margin: 0 auto;
    gap: 64px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 32px;
}

/* Social proof section ends */

.feature_container{
    width: 1440px;
    height: 920px;
    margin: 0 auto;
    padding: 96px 112px;
}

.feature_text_div{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    height: 188px;
}

.feature_heading{
    font-weight: 800;
    font-size: 36px;
    font: bolder;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 24px;
}

.feature_paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.feature_items_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 48px;
    column-gap: 32px;
    margin-top: 64px;
}

.item{
    width: 384px;
    height: 214px;
}

.item_img{
    text-align: center;  
}

.item_heading{
    font-weight: 700;
    font-size: 20px;
    font: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
}
.item_paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
}

/* Features section ends */